* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, #root {
    background-color: #c4c4c4;
    font-family: Poppins, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}